@import '../../base/vars/';

.button{

  color: gray;

  &--shadow{
    box-shadow: $boxShadow;
    border: 3px solid yellow;
  }

  &--active{
    background-color: green;
  }

  &--unactive{
   background-color: red; 
  }
}