@import '../../base/vars/';

.button{
  color: $grey;
  &--shadow{
    box-shadow: $boxShadow; // doesnt work !
    border: 3px solid yellow;
  }

  &--active{
    background-color: green;
  }

  &--unactive{
   background-color: red; 
  }
}