.counter{
  background-color: $primary;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $fontSize-xs;
  font-weight: bold;
}

.counter--sm{
  --size: 20px;
  width: var(--size);
  height: var(--size);
}

