.counter{
  background-color: $primary;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $fontSize-xs;
  font-weight: bold;
  border: 2px solid $black;
  --size: 20px;
  width: var(--size);
  height: var(--size);

  &_none{
    display: none;
  }
  
}
