@import '../../init/vars';

.header{
  background-color: black;

  &__basket{
    color: white;
    &:hover{
      color: $blue-light;
      cursor: pointer;
    }
  }
  
  &__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}