@import '../../init/vars';

.header {
  background-color: $black;
}

.basket {
  color: white;

  &:hover {
    color: $blue-light;
    cursor: pointer;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}