@import '../../init/vars';

.navigation{
    display: flex;

    &__item{
        color: $white;
        &:not(:last-child){
            margin-right: 10px;
        }

        &:hover{
            color: $yellow;
        }
        
        &--active{
            color: $blue-light;
        }
    }
}
