// вынести в модуль
.picture {
	position: relative;
	display: block;
	// background-color:#ccc ;
  overflow: hidden;
  width: 100%;

	&-noPlaceholder{
		background-color: inherit;
	}
}

.picture::before {
	content: '';
	display: block;
	padding-top: 56.25%;

}

.picture_image {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-position: 50% 50%;
	object-fit: contain;
}

