* {
  margin: 0;
  padding: 0;
}
html,
body,
#root {
  height: 100%;
}


// init
@import '../scss/init/vars/';
@import '../scss/init/containers/site.scss';
@import '../scss/init/containers/column.scss';
@import '../scss/init/containers/block.scss';
@import '../scss/init/containers/flex.scss';
@import '../scss/init/normalize.scss';

// ui
@import '../scss/components/ui/button.scss';
@import '../scss/components/ui/ellipsis.scss';
@import '../scss/components/ui/picture.scss';
@import '../scss/components/ui/counter.scss';