.product {
  background-color: yellow;

  &__image {
    width: 10px;
    height: 10px;
  }

  &__title {
    font-weight: bold;
  }

  &__price {
    font-style: italic;
  }

  &__button {
    background-attachment: blue;
  }

}