@import '../../../assets/scss/init/vars';

.product {
  border-radius: $radius-m;
  background-color: $white;
  padding: $padding-m;
  align-items: flex-start;
  border: 1px solid $blue;
  height: 100%;
  box-sizing: border-box;
}

.image {
  flex-shrink: 0;
  margin-bottom: $paragraphMb-l;
  height: auto;
  width: 100px;
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-weight: bold;
  margin-bottom: $paragraphMb-m;
  flex-grow: 1;
}

.price {
  font-style: italic;
  margin-bottom: $paragraphMb-s;
}

.category {
  font-weight: bold;
  margin-bottom: $paragraphMb-l;
  color: $grey;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $blue;
  color: $white;
  margin-left: -$padding-m;
  margin-right: -$padding-m;
  padding: 0 $padding-m;
  margin-bottom: $paragraphMb-l;
  align-self: stretch;
}

.button{
  z-index: 2;
}


@media (max-width: $media-mobile) {
  .product {}
}

// product--separated (товар на отдельной странице)
.product--separated {
  background-color: rgb(226, 226, 185);
  border-radius: 0;
  background-color: inherit;
  padding: 0;
  align-items: flex-start;
  border: none;


  .image {
    margin-bottom: $paragraphMb-l;
    height: auto;
    width: 30%;
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .info {
    margin-left: 0;
    margin-right: 0;
  }


}

// product--basket (товар в корзине)
.product--basket {
z-index: 1;
  .characteristics{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .shop, .remove{
    color: $grey;
    font-size: $fontSize-s;
  }

  .image{
    margin: 0;
  }

  .info{
    margin: 0;
  }

  .counter{
    background-color: $grey-light;
    border-radius: $radius-m;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100px;
    height: 32px;
    padding: $paragraphMb-s;
    box-sizing: border-box;
    align-self: flex-end;
    
    &>*{
      background-color: inherit;
    }
    button{
      flex-grow: 1;
      font-size: 20px;
    }
  }

  .footer{
    width: 100%;
    justify-content: space-between;
  }

  .sum{
    span{
      color: $blue;
      font-weight: bold;
      font-style: italic;
    }
  }
  
}

// TODO: вынести в components/ui
.note{
  color: $grey;
  font-size: $fontSize-s;
  margin-bottom: $margin-xs;
}
