@import '../../../assets/scss/init/vars';

.product {
  border-radius: $radius-m;
  background-color: $white;
  padding: $padding-m;
  align-items: flex-start;
  border: 1px solid $blue;
  height: 100%;
  box-sizing: border-box;
}

.image {
  flex-shrink: 0;
  margin-bottom: $paragraphMb-l;
  height: auto;
  width: 100px;
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-weight: bold;
  margin-bottom: $paragraphMb-m;
  flex-grow: 1;
}

.price {
  font-style: italic;
  margin-bottom: $paragraphMb-s;
}

.category {
  font-weight: bold;
  margin-bottom: $paragraphMb-l;
  color: $grey;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $blue;
  color: $white;
  margin-left: -$padding-m;
  margin-right: -$padding-m;
  padding: 0 $padding-m;
  margin-bottom: $paragraphMb-l;
  align-self: stretch;
}

.button{
  z-index: 2;
  height: 31px;
  padding-top: 0;
  padding-bottom: 0;
}


@media (max-width: $media-mobile) {
  .product {}
}

// product_basket (товар в корзине)
.product_basket {
z-index: 1;
  .characteristics{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .shop{
    color: $grey;
    font-size: $fontSize-s;
  }

  .image{
    margin: 0;
  }

  .info{
    margin: 0;
  }

  .footer{
    width: 100%;
    justify-content: space-between;
  }

  .sum{
    span{
      color: $blue;
      font-weight: bold;
      font-style: italic;
    }
  }
  
}

.note{
  color: $grey;
  font-size: $fontSize-s;
  margin-bottom: $margin-xs;
}
