@import "../../../assets/scss/init/vars";
// TODO: если понадобится где-то еще, вынестив base

$base-color: #ddd;
$shine-color: #e8e8e8;
$animation-duration: 1.6s;
$avatar-offset: 52 + 16;

.product {
  padding: $padding-m;
  border: 1px solid $base-color;
  border-radius: $radius-m;
  background-size: 600px;
}

.item {
  background-image: linear-gradient(
    90deg,
    $base-color 0px,
    $shine-color 40px,
    $base-color 80px
  );
  animation: shine-avatar $animation-duration infinite linear;
}

.avatar {
  width: 100px;
  height: 60px;
  margin-right: auto;
  margin-bottom: $paragraphMb-l;
  margin-left: auto;
}

.title {
  height: 63px;
  margin-bottom: $paragraphMb-m;
}

.price {
  height: 21px;
  margin-bottom: $paragraphMb-s;
}

.category {
  height: 21px;
  margin-bottom: $paragraphMb-l;
}

.pieces {
  height: 16px;
  margin-bottom: $margin-xs;
}

.btn {
  width: 100px;
  height: 31px;
  border-radius: 8px;
}

@keyframes shine-avatar {
  0% {
    background-position: -100px + $avatar-offset;
  }

  40%,
  100% {
    background-position: 140px + $avatar-offset;
  }
}
