@import "../../../assets/scss/init/vars/";

.icon,
[class*="icon_"] {
  display: inline-block;
  fill: $black;
  stroke: $black;
  stroke-width: 0;
  width: 1.5em;
  height: 1.5em;
  font-size: 16px;
}

.icon {
  &_white {
    fill: $white;
    stroke: $white;
  }

  &_rightArrow {
    stroke-width: 2;
  }

  &_star {
    width: 1em;
    height: 1em;
  }
}
