@import "../../../assets/scss/init/vars";

.preview {
  height: 600px;
  width: 100%;
  background: $linerGradient;
  color: $white;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 46px;
  line-height: 120%;
  display: block;
  margin-bottom: $margin-l;
}

.link {
  align-self: flex-end;
  position: relative;
  padding: 19px 22px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    opacity: 0.5;
    background: $blue-dark;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
  }

  &:hover {
    &:before {
      width: 100%;
      opacity: 1;
      background: $linerGradient;
    }
      svg {
        transform: translateX(0);
      }
    
    &:active {
      transform: scale(0.96);
    }
  }

  span {
    position: relative;
    font-size: $fontSize-m;
    font-weight: bold;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
  }

  svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
}



// @keyframes arrow-hover {
//   0% {
//     transform: translateX(0);
//   }

//   50% {
//     transform: translateX(5px);
//   }

//   100% {
//     transform: translateX(0);
//   }

// }
