@import '../vars/';

// сейчас неправильно работает из-за tailwig
.column{
  margin: 0 auto;
  padding: $padding-m;
  max-width: 1024px;
}

@media (max-width: $media-mobile){
  .column{
    width: 100%;
  }
}